/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Roboto:500,900,400italic,700italic,300,700,400);

body {
  background: #E7ECEF;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1 {
  color: #274C77;
}

h2 {
  color: #6096BA;
}

.logo {
  display: block;
  width: 350px;
  margin: 2em auto;

  img {
    display: block;
    max-width: 100%;
  }
}

.results {
  color: #8B8C89;
  text-align: center;
  font-weight: 300;
}
